<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- custom coloring conversion -->
    <conversionRule conversionWord="highlightex" converterClass="com.example.onlinecourses.configs.HighlightingCompositeConverterEx" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlightex(%-5level) %cyan(%logger{10}).%blue(%M) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
